cloud-harness
deployment/helm
skaffold.yaml
.vscode
.overrides
applications/pub-chem-index/backend/api-call-example-client/build
applications/pub-chem-index/backend/api-call-example-client/node_modules
CID-Synonym-unfiltered
CID-Synonym-unfiltered_*.csv
api-call-example/build
api-call-example/node_modules
applications/pub-chem-index/tasks/ingestion/data/
scripts/db